@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap');
:root {
  --header-height: 3rem;
  --nav-width: 73px;
  --first-color: rgb(255,186,0);
  --first-color-light: #AFA5D9;
  --white-color: #F7F6FB;
  --orange-color: rgb(235, 124, 52);
  --black-color: #181818;
  --blue-color: rgb(0,11,97);
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100
}

*, ::before, ::after {
  box-sizing: border-box
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s
}

a {
  text-decoration: none
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black-color);
  z-index: var(--z-fixed);
  transition: .5s
}

.header_toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden
}

.header_img img {
  width: 40px
}

.itens {
  display: flex;
  flex-direction: row;
  color: var(--orange-color);
  list-style: none;
  gap: 30px;
  margin-top: 10px;
}

.l-navbar {
  position: fixed;
  border-radius: 10px;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
  overflow-y: auto; /* Adicionando a propriedade overflow-y para habilitar a rolagem vertical */
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden
}

.nav_name {
  font-size: 14px;
  font-weight: bold;
}

.bx-menu {
  color: var(--white-color-color);
  background-color: var(--blue-color) ;
  border: transparent;
}

.bx-menu:hover {
  color: var(--white-color-color);
  background-color: var(--blue-color) ;
}

.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav_logo {
  flex-direction: row;
  display: flex;
  align-items: center;
  padding-left: 11px;
}

.bxs-edit {
  color: var(--black-color);
  font-size: 1.3rem;
  margin-left: 30px;
}

.nav_logo-icon {
  width: .95rem;
  color: var(--white-color);
  background-color: rgba(172, 164, 164, 0.434);
  border-radius: 10px;
}

.nav_list {
  margin-top: 5.5rem;
}

.nav_logo-name {
  color: var(--black-color);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-left: 20px;
}


.nav_link {
  position: relative;
  color: var(--black-color);
  margin-bottom: 1rem;
  transition: .3s
}

.nav_link:hover {
  color: var(--blue-color)
}

.nav_icon {
  font-size: 1.5rem;
  font-weight: lgi;
}

.show2 {
  left: 0
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem)
}

.active {
  color: var(--blue-color)
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--blue-color)
}

.height-100 {
  height: 100vh
}
/* Ocultar a barra de rolagem vertical */
.nav {
  overflow-y: auto;
}

/* Adicionar espaço extra à direita para compensar a largura da barra de rolagem */
.nav::-webkit-scrollbar {
  width: 0;  /* Oculta a barra de rolagem no Chrome/Safari */
}

/* Estilo adicional da barra de rolagem (opcional) */
.nav::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);  /* Cor da alça da barra de rolagem */
}
@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem)
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
  }

  .header_img {
    width: 40px;
    height: 40px
  }

  .header_img img {
    width: 45px
  }

  /* .nav {
    overflow: auto;
  } */

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
    
  }

  .show2 {
    width: calc(var(--nav-width) + 156px)
  }

  .body-pd {
    padding-left: calc(var(--nav-width) + 188px)
  }
}