
.form-group {
    margin: 50px;
    display: flex;
    flex-direction: row;
}

.novo-user {
    width: 45%;
    margin: 50px;
    text-align: center;
}

.title-user {
    margin-bottom: 70px;
}

.user-info {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.text-info legend,p{
    color: black;
    margin-top: 20px;
}

.form-select {
    margin-bottom: 10px;
}

.btn-criar button {
    display: flex;
    justify-content: end;
    width: 100%;
}

.input-container {
    position: relative;
}

.visibility-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
}

@media screen and (max-width: 720px) {
    .form-group {
        margin: 50px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .novo-user {
        width: 100%;
        margin: 50px;
        text-align: center;
    }
    
    
    .user-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
    }

}